<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dimir Constraction</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <!-- Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/custom.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#Services" class="nav-link scrollto"><i class='bx bx-hard-hat'></i> <span>Services</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>About</span></a></li>
        <li><a href="#ourworks" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Our works</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header>
  <!-- End Header -->

  
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container-fluid row cup_parent" data-aos="fade-right" data-aos-delay="100">
        <div class="col-lg-9 mt-1 mt-md-4 ">
            <div class="d-flex">
                <h1 data-aos="fade-right mx-0 px-0">DIMIR CONSTRACTION</h1>
                <h1 class="animate_cap" 
                data-aos-delay="1200"
                data-aos="fade-left"
                data-aos-anchor="#example-anchor"
                data-aos-offset="600"
                data-aos-duration="500">
                <i class='bx bxs-hard-hat c_hat bx-lg bx-tada' ></i></h1>
            </div>
            <p  data-aos-delay="1200"
            data-aos="fade-left"
            data-aos-anchor="#example-anchor"
            data-aos-offset="600"
            data-aos-duration="500">We constract whatever you want</p>
            <div class="text-start social-links d-block">
              <a href="tel:555-666-7777" class="Phone"><i class='bx bxs-phone px-4'></i>+251945818635</a>
              <a href="#" class="mail "><i class='bx bxl-gmail px-4'>demirconstraction@gmail.com</i></a>
            </div>
        </div>

        <div class="accordion col-lg-3 accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Play Here!
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                
                
              <h4 style="color: rgb(57, 71, 73);">Add the numbers</h4>
                            
                            <div class="d-flex mt-0" >
                                <div class="">
                                  <h5 class="num1" style="color: rgb(57, 71, 73);">20</h5> 
                                  <h5>+</h5>
                                  <h5  class="num2"  style="color: rgb(57, 71, 73);">50</h5>
                              </div>
                              <div class="mt-0  pt-3 mx-4">
                                <input type="number" class="form1" placeholder="Answer"></td>
                                
                                <input type="button" class="btn btn-warning rounded-0 px-3" onclick="Calculate()" value="Check">
                              </div>
                            </div>
                            <div class="my-4 pt-4">
                              <div class="right">
                                <h6 class="text-success">You got the answer, let's go home</h6>
                                <a class="btn btn-warning px-5" href="#Services">Enter Home</a>
              
                              </div>

                              <div class="wrong">
                                <h6 class="text-danger">Oop... Wrong Answer, You should learn more! </h6>
                                <a class="btn btn-warning px-5" href="#about">Learn more</a>


                              </div>
                              
                            </div>
                            <div>

                            </div>                
                <div>
            </div>
          </div>
         
        </div>

        <!-- <div class="col-lg-3">
                <h4 style="color: rgb(57, 71, 73);">Add the numbers</h4>
                
                <div class="d-flex mt-0" >
                    <div class="">
                      <h5 class="num1" style="color: rgb(57, 71, 73);">20</h5> 
                      <h5>+</h5>
                      <h5  class="num2"  style="color: rgb(57, 71, 73);">50</h5>
                  </div>
                  <div class="mt-0  pt-3 mx-4">
                    <input type="number" class="form1" placeholder="Answer"></td>
                    
                    <input type="button" class="btn btn-warning rounded-0 px-3" onclick="Calculate()" value="calculate">
                  </div>
                </div>
                <div class="my-4">
                  <div class="right">
                    <h6 class="text-success">You got the answer, let's go home</h6>
                    <a class="btn btn-warning px-5" href="#Services">Enter Home</a>
  
                  </div>

                  <div class="wrong">
                    <h6 class="text-danger">Oop... Wrong Answer, You should learn more! </h6>
                    <a class="btn btn-warning px-5" href="#about">Learn more</a>


                  </div>
                  
                </div>
                <div>

                </div>
        </div> -->
    </div>
    
  </section><!-- End Hero -->

  <main id="main">
    

    <!-- ======= Services Section ======= -->
    <section id="Services" class="Services">
      <section id="ts-service-area" class="ts-service-area pb-0">
        <div class="container">
          <div class="row text-center">
              <div class="col-12">
                <h2 class="section-title">We Are Specialists In</h2>
                <h3 class="section-sub-title">What We Do</h3>
              </div>
          </div>
          <!--/ Title row end -->
      
          <div class="row">
              <div class="col-lg-4">
                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                      <img loading="lazy" src="./assets/img/icon-img/service-icon1.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                      <h3 class="service-box-title">Home Construction</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
                    </div>
                </div><!-- Service 1 end -->
      
                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                      <img loading="lazy" src="./assets/img/icon-img/service-icon2.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                      <h3 class="service-box-title">Building Remodels</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
                    </div>
                </div><!-- Service 2 end -->
      
                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                      <img loading="lazy" src="./assets/img/icon-img/service-icon3.png"  alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                      <h3 class="service-box-title">Interior Design</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
                    </div>
                </div><!-- Service 3 end -->
      
              </div><!-- Col end -->
      
              <div class="col-lg-4 text-center">
                <i class='constract0 bx bxs-hard-hat c_hat bx-lg bx-tada px-4' ></i>
                <h1 class="constract1">D</h1>
                <h1 class="constract2">I</h1>
                <h1 class="constract3">M</h1>
                <h1 class="constract4">I</h1>
                <h1 class="constract5">R</h1>
              </div><!-- Col end -->
      
              <div class="col-lg-4 mt-5 mt-lg-0 mb-4 mb-lg-0">
                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                      <img loading="lazy" src="./assets/img/icon-img/service-icon4.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                      <h3 class="service-box-title">Exterior Design</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
                    </div>
                </div><!-- Service 4 end -->
      
                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                      <img loading="lazy" src="./assets/img/icon-img/service-icon5.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                      <h3 class="service-box-title">Renovation</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
                    </div>
                </div><!-- Service 5 end -->
      
                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                      <img loading="lazy" src="./assets/img/icon-img/service-icon6.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                      <h3 class="service-box-title">Safety Management</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
                    </div>
                </div><!-- Service 6 end -->
              </div><!-- Col end -->
          </div><!-- Content row end -->
      
        </div>
        <!--/ Container end -->
      </section>
      
    </section><!-- End Services Section -->



    <!-- ======= about Section ======= -->
    <section id="about" class="about">
      <section id="facts" class="facts">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h5 class="text-muted">Learn More</h5>
            <h2>ABOUT US</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
              <div class="count-box">
                <i class="bi bi-journal-richtext"></i>
                <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                <p>Projects</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
              <div class="count-box">
                <i class='bx bxs-group'></i>              
                <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                <p>Emloyee</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
              <div class="count-box">
                <i class="bi bi-award"></i>
                <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="purecounter"></span>
                <p>Awards</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>
    </section><!-- End about Section -->

    <!-- ======= ourworks Section ======= -->
    <section id="ourworks" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Our Works</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-card">Done</li>
              <li data-filter=".filter-app">On progress</li>
              
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Lideta</h4>
                <p>Lideta new building</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Genbo</h4>
                <p>Genbo insurance </p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Awash</h4>
                <p>Awash Bank</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Wegagen</h4>
                <p>Wegagen</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>IT Center</h4>
                <p>Techno IT center</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sumsung</h4>
                <p>sm building</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4> NB</h4>
                <p>new building</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>JENA</h4>
                <p>JENA</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Portfolio Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Addis ababa , Ethiopia</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>dimir@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+251 988 4458</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="/email" method="post" role="form" class="form_e">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" id="message" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center btn btn-primary"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  <footer id="footer" class="footer bg-black text-start">
    <div class="footer-main">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-4 col-md-6 footer-widget footer-about">
            <h4 class=" text-start text-white py-3">About Us</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done.</p>
            <!-- Footer social end -->
          </div><!-- Col end -->

          <div class="col-lg-4 col-md-6 footer-widget mt-5 mt-md-0">
            <h4 class=" text-start text-white py-3">Working Hours</h4>
            <div class="working-hours">
              We work 7 days a week, every day excluding major holidays. Contact us if you have an emergency, with our
              Hotline and Contact form.
              <br><br> Monday - Friday: <span class="text-right">10:00 - 16:00 </span>
              <br> Saturday: <span class="text-right">12:00 - 15:00</span>
              <br> Sunday and holidays: <span class="text-right">09:00 - 12:00</span>
            </div>
          </div><!-- Col end -->

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 footer-widget">
              <div><h4 class=" text-start text-white py-3 ">Our service</h4></div>
            <ul class="list-group">
              <li class="list-group py-2">
                Home Construction</li>
              <li class="list-group py-2">
                Building Remodels.</li>
              <li class="list-group py-2">Interior Design</li>
              <li class="list-group py-2">Exterior Design</li>
              <li class="list-group py-2">Renovation</li>
              <li class="list-group py-2">Safety Management</li>

            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 text-center py-0">
        <hr>
        <p>Copyright &copy;2022 All rights reserved <span class="text-primary">| </span> <br class="d-sm-none"> developed by <a
                class="developer text-decoration-none "
                href="https://www.linkedin.com/in/jebessa-dejene-74a674221">Jebessa Dejene</a> </p>
    </div>

  </footer><!-- Footer end -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- jquery -->
  
  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>


  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/custom.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script> 
  console.log("helloo");
    $('.form_e').on('submit',(e)=>{

       
      e.preventDefault();
      const name =$('#name').val().trim();
      const email =$('#email').val().trim();
      const subject =$('#subject').val().trim();
      const message =$('#message').val().trim();

      const data={
        name,
        email,
        subject,
        message
      }

      $.post('/email',data,function(){
        
        console.log("server recieved our data");
      })
      
    })
  </script>

</body>

</html>